{% extends 'layouts/base.twig' %}
{% block content %}
    <div id="addItem" class="form-container">
        <fieldset>
            <div id="message"></div>
            <form method="post" enctype="multipart/form-data" name="cadastroform" id="cadastroform">
                <div class="form-group">
                    <label for="tipo">Tipo de Ocorrência *</label>
                    <select id="tipo" name="tipo" class="form-control">
                        <option>Itens</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição *</label>
                    <textarea id="descricao" name="descricao" placeholder="" rows="3" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="recorrente">Problema Recorrente? *</label>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="recorrente" id="recorrente" value="1">Sim
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="recorrente" id="recorrente" value="0">Não
                        </label>
                    </div>

                </div>

                <div class="form-group">
                    <label for="imagem">Adicionar Imagem</label>
                    <input type="file" id="imagem" name="imagem">
                </div>

                <div class="form-group">
                    <p class="small text-muted"><span class="guardsman">* Campos obrigatórios.</span></p>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="cf-submit">Enviar</button>
                </div>
            </form>
        </fieldset>
    </div><!-- /.form-container -->
{% endblock %}